@model List<SahaflarPazari.Models.ShopCartViewModel>
@{ 
    var totalItem = ViewBag.Total as int?;
}

@{
    ViewBag.Title = "ShopCart";
}

<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Kitap</th>
                                <th>Satıcı</th>
                                <th>Fiyat</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var sum = 0;}
                            @foreach (var k in Model)
                            {
                                sum += k.BookPrice;

                                <tr id="@k.CartId">
                                    <td class="shoping__cart__item">
                                        <a href="#" data-ktgId="@k.BookId" class="deneme"><img style="max-width: 200px; max-height: 200px;" src="~/Content/img/Kitap_Resimleri/@k.BookImagePath" alt="kitap resmi"></a>
                                        <h5>@k.BookName</h5>
                                    </td>
                                    <td>
                                        @k.SellerName
                                    </td>
                                    <td class="shoping__cart__price">
                                        @k.BookPrice
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <button type="button" class="btn-close" data-ktgprc="@k.BookPrice" data-ktgId="@k.CartId" aria-label="Close"></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="@Url.Action("Index", "Home")" class="primary-btn cart-btn">Alışverişe Devam Et</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>İndirim Kodu</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">KUPON UYGULA</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Sepet Toplamı</h5>
                    <ul>
                        <li>Toplam <span id="total" data-sum="@sum">@sum</span></li>
                    </ul>
                    <a href="@Url.Action("ChooseAdres", "ShopCart")" class="primary-btn">SATIN ALIMI TAMAMLA</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Content/js/jquery-3.3.1.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.deneme').on('click', function (e) {
            e.preventDefault();
            var kitapId = $(this).data('ktgid');
            window.location.href = '@Url.Action("Details", "Home")' + '/' + kitapId;
        });
        $('.btn-close').on('click', function (e) {
            e.preventDefault();
            var id = $(this).data('ktgid');
            var removedData = parseFloat($(this).attr('data-ktgprc'));
            var dataSum = parseFloat($("#total").data('sum'));

            var dataId = "id=" + id;
            $.ajax({
                type: "POST",
                url: "/ShopCart/RemoveFromCart",
                data: dataId,
                success: function (response) {
                    $("#bookCount").text(response.BookCount);
                    $("#total").text(response.sum);
                    $("#" + id).remove();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
</script>
